{% extends 'base.html' %}

{% block conteudo %}

		<form name="formlogin" method="post" action="">
		
			

			<div id="div1l" align="center">
				<h1 class="branco"> LOGIN </h1>

				<table>
					<tr>
						<td>  <label for= "usuario" class="branco"> E-mail: </label> </td>
						<td>  <input type="text" name="usuario" placeholder=" e-mail" /> </td>
					</tr>
					<tr>
						<td>  <label for= "senha" class="branco"> Senha: </label> </td>
						<td>  <input type="password" name="senha" placeholder="senha"> </td>
					</tr>
				</table>
					<br>

				<button name="button" onclick="eeggtt()"> Entrar </button> <br>
					
			</div>
			
		</form>

			<br><br>

{% endblock conteudo %}		