{% extends 'base.html' %}
	
{% block conteudo %}

	 	<div id="divobj">
	 	<h1 class="branco" align="center"> Objetivo do Sistema </h1>

	 	<h4 class="branco" align="center"> O Sistema de Auxílio aos dependentes químicos, <br> foi proposto por alunos que tem como objetivo <br> de ajudar um ser humano a se encontrar <br> fisicamente e psicológicmanete após as drogas, <br> melhorar a estabilidade na saúde do dependente através de auxílios psicológicos.   </h4>

		</div>


	

			</center>
		
	 	</font>

{% endblock conteudo %}